/* Profile sidebar */

.profile-userpic {
    /*
    width: 75%;
    */
    height: 75%;
    /*
    margin: 0 13% 0 13%;
    */
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 4px;
    border: 1px solid;
}

.profile-usertitle {
    text-align: center;
    margin: 5px 0px 10px 0px;
    text-overflow: ellipsis;
}

.profile-usertitle-name h3 {
    color: #5a7391;
    cursor: default;
    font-weight: 600;
}

.profile-infoview a {
    color: #ffffff !important;
    margin-bottom: 15px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}


#norm-user-info{
    display: none;
}

.infoFeildName {
    min-width: 220px;
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-right: 0px !important;
}

table tr {
    height: 65px;
}

td {
    text-align: center;
    padding: 25px !important;
}

a:hover {
    cursor: pointer;
}

.edit {
    display: none;
}

tr:hover > td > a {
    display: inline;
}

/*css related to update modal view*/

.modal {
    background: rgba(000, 000, 000, 0.6);
    min-height: 1000000px;
}

.modal-dialog-center {
    margin-top: 15%;
}

.modal-header {
    background: #e78f08;
    color: white;
}

/*css related to modal update field contain table*/

.modalInfoFeildName {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    padding-right: 0px !important;
    width: 250px !important;
}

.modalUserInfo {
    padding-left: 0px !important;
    text-align: left !important;
}

textarea {
    resize: none;
}

.form-control {
    border-radius: 0px;
}

/*============================================================*/
/*CSS effect for the profile pic update button showing overlay*/
/*============================================================*/

.effects .img {
    position: relative;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
}

.effects .img img {
    display: block;
    /*          margin: 0;
                padding: 0;*/
    max-width: 100%;
    height: auto;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: all 0.5s;
}

a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}

a.close-overlay.hidden {
    display: none;
}

a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
    border: solid 5px #fff;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 30px;
}

/* ============================================================ */
/*    EFFECT 1 - SLIDE IN BOTTOM                                */
/* ============================================================ */
#effect-1 .overlay {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
}

#effect-1 .overlay a.expand {
    left: 0;
    right: 0;
    bottom: 50%;
    margin: 0 auto -30px auto;
}

#effect-1 .img.hover .overlay {
    height: 100%;
}

/*CSS to pop up the file browser window*/
#uploadLink {
    text-decoration: none;
}

#uploadInput {
    display: none
}

/*CSS for toast message saying user update was success or not*/
#toastMessage {
    width: 400px;;
    height: 70px;
    position: absolute;
    margin-left: 37%;
    margin-right: 37%;
    top: 30%;
    /*margin-left:-15%;*/
    bottom: 10px;
    background-color: #00ffff;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

#norm-user-content a{
    color: #000000;
    text-decoration: none !important;
}

#norm-user-content a:hover
{
    color: #000000;
    text-decoration:none;
    cursor:pointer;
}

/*CSS for notice for users on their profiles*/
.notice{
    float: none;
}

.notice div {
    background: #B6B6B5;
    color: #FFFFFF !important;
    padding-bottom: 10px;
}

.notice-btn{
    color: #FFFFFF !important;
}